language: node_js
node_js:
  - '6'
  - '4'
  - '0.12'
  - '0.10'
cache:
  directories:
    - $HOME/.npm
    - node_modules
before_install:
  - 'node -e "process.exit(Number(process.version.match(/^v(\d+)/)[1])>=6?0:1)" || npm install -g npm@latest'
before_script:
  - npm prune
after_success:
  - '[ -z "$COVERALLS_REPO_TOKEN" ] && tap --coverage-report=text-lcov | ./node_modules/.bin/coveralls'
