environment:
  matrix:
    - nodejs_version: '6'
    - nodejs_version: '4'
    - nodejs_version: '0.12'
install:
  - ps: Install-Product node $env:nodejs_version
  - set CI=true
  - set AVA_APPVEYOR=true
  - npm install -g npm@latest
  - set PATH=%APPDATA%\npm;%PATH%
  - npm install
  - npm prune
matrix:
  fast_finish: true
build: off
shallow_clone: true
cache:
  - node_modules
  - '%APPDATA%\npm-cache'
test_script:
  - node --version
  - npm --version
  - npm run test-win
